tmp
.DS_Store
Keyboard-Cowboy.xcodeproj/project.*
Keyboard-Cowboy.xcodeproj/xcshareddata/xcschemes/*
Keyboard-Cowboy.xcodeproj/xcuserdata/*
Release/*.zip
Release/*.app
Release/.*
.env
exportOptions.plist
Build/*.xcarchive
Build/Releases/*
