*.xcodeproj
*.xcworkspace
.DS_Store
.env
Build/*.xcarchive
Build/Releases/*
Derived
Generated/*
Keyboard-Cowboy.xcodeproj/project.*
Keyboard-Cowboy.xcodeproj/xcshareddata/xcschemes/*
Keyboard-Cowboy.xcodeproj/xcuserdata/*
Release/*.app
Release/*.zip
Release/.*
Tuist/Dependencies/Lockfiles/Package.resolved
Tuist/Dependencies/SwiftPackageManager
Tuist/Dependencies/SwiftPackageManager/*
Tuist/Dependencies/graph.json
exportOptions.plist
Build/*.xcarchive
Build/Releases/*
ResultBundle.xcresult
Sparkle/*
.package.resolved
Tuist/.build/workspace-state.json
Tuist/Package.resolved
