--enable blankLineAfterImports
--enable blankLinesAfterGuardStatements
--enable blankLinesAroundMark
--enable blankLinesAtEndOfScope
--enable blankLinesBetweenChainedFunctions
--enable blankLinesBetweenImports
--enable blankLinesBetweenScopes
--enable braces
--enable conditionalAssignment
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable consistentSwitchCaseSpacing
--enable duplicateImports
--enable elseOnSameLine
--enable emptyBraces
--enable environmentEntry
--enable extensionAccessControl
--enable genericExtensions
--enable linebreakAtEndOfFile
--enable modifierOrder
--enable numberFormatting
--enable opaqueGenericParameters
--enable redundantInit
--enable redundantOptionalBinding
--enable sortImports
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable trailingClosures
--enable trailingCommas
--enable trailingSpace
--enable wrapMultilineFunctionChains

--disable preferForLoop

--anonymous-for-each ignore
--onelineforeach convert

--indent 2
--swiftversion 6.2
