<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Needs permission to Apple Events in order to run Apple Scripts</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 zenangst. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/zenangst/KeyboardCowboy/master/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>ZxEpbxbd8TIwNev9bkzaLrHAaQUK/x0wBTHb4anScsc=</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
    <dict>
      <key>UTTypeConformsTo</key>
      <array>
        <string>com.public.data</string>
      </array>
      <key>UTTypeDescription</key>
      <string>DraggableView</string>
      <key>UTTypeIcons</key>
      <dict/>
      <key>UTTypeIdentifier</key>
      <string>com.zenangst.Keyboard-Cowboy.DraggableView</string>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <array/>
      </dict>
    </dict>
    <dict>
      <key>UTTypeConformsTo</key>
      <array>
        <string>com.public.data</string>
      </array>
      <key>UTTypeDescription</key>
      <string>WorkflowGroup</string>
      <key>UTTypeIcons</key>
      <dict/>
      <key>UTTypeIdentifier</key>
      <string>com.zenangst.Keyboard-Cowboy.WorkflowGroup</string>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <array/>
      </dict>
    </dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Workflow</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>com.zenangst.Keyboard-Cowboy.Workflow</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array/>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
    <dict>
      <key>UTTypeConformsTo</key>
      <array>
        <string>com.public.data</string>
      </array>
      <key>UTTypeDescription</key>
      <string>DraggableView</string>
      <key>UTTypeIcons</key>
      <dict/>
      <key>UTTypeIdentifier</key>
      <string>com.zenangst.Keyboard-Cowboy.DraggableView</string>
      <key>UTTypeTagSpecification</key>
      <dict/>
    </dict>
    <dict>
      <key>UTTypeConformsTo</key>
      <array>
        <string>com.public.data</string>
      </array>
      <key>UTTypeDescription</key>
      <string>WorkflowGroup</string>
      <key>UTTypeIcons</key>
      <dict/>
      <key>UTTypeIdentifier</key>
      <string>com.zenangst.Keyboard-Cowboy.WorkflowGroup</string>
      <key>UTTypeTagSpecification</key>
      <dict/>
    </dict>
    <dict>
      <key>UTTypeConformsTo</key>
      <array>
        <string>com.public.data</string>
      </array>
      <key>UTTypeDescription</key>
      <string>Workflow</string>
      <key>UTTypeIcons</key>
      <dict/>
      <key>UTTypeIdentifier</key>
      <string>com.zenangst.Keyboard-Cowboy.Workflow</string>
      <key>UTTypeTagSpecification</key>
      <dict/>
    </dict>
	</array>
	<key>com.apple.security.automation.apple-events</key>
	<true/>
</dict>
</plist>
