#menu a {
  margin: 0 8;
  text-decoration: none;
  color: var(--secondary-color);
}

body > div {
  padding: 96px 0px;
  overflow: hidden;
}

div > * {
  max-width: 800px;
  margin: 0px auto;
}

#header > * {
  max-width: 1024px !important;
}

#header .quick-links {
  padding: 8px;
  padding-top: 16px;
}

#header hr {
  background-color: var(--gray-color);
  width: 25%
}

#header .zstack > img {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.15),
              0 25px 24px 0 rgba(0, 0, 0, 0.2);
}

#header .zstack > img:last-child {
  box-shadow: none;
  position: relative;
  left: -27.5%;
  top: 0.5%;
  filter: none;
}

#header .zstack > img {
  border-radius: 8px;
}

#header h1 {
  padding-top: 25px;
  margin: 0px !important;
}

#header h1 {
  margin: 0px;
}

#header h3 {
  margin: 0;
}

.hstack > img.left-aligned {
  margin-right: 96px;
}

.hstack > img.right-aligned {
  margin-left: 96px;
}

section.hstack > img {
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.15),
              0 25px 24px 0 rgba(0, 0, 0, 0.2);
}

.zstack > * {
  grid-area: 1/1/1/1;
}

.zstack > *:last-child {
  box-shadow: 1px red;
}

.quick-links {
  margin-top: 16px;
  margin-left: -5px;
}

.quick-links > a {
  text-decoration: none;
  border-radius: 18px;
  padding: 8px 16px;
  margin: 16px 4px;
}

.quick-links > a:first-child {
  margin-left: 0px;
}

.quick-links a.filled {
  background: var(--green-color);
  color: #fff;
}

.quick-links a.outlined {
  border: 1px solid var(--green-color);
  color: var(--green-color);
}

#features {
  padding-top: 40px;
  padding-bottom: 40px;
}

#features > section {
  max-width: 950px;
}

#features h3 {
  max-width: 600px;
  margin: 0px auto;
}

#features p {
  margin-top: 10px;
}

#features > section > div.hstack {
  align-items: start;
  align-content: start;
  justify-content: center;
  -webkit-flex-direction: row;
}

#features > section > div.hstack > div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  margin-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid var(--background-color);
}

#features > section > div.hstack > div:last-child {
  border-right: 0px;
  margin-left: 10px;
}

#features div.hstack > div > div {
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
}

div.illustration > div:first-child {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.6),
              0 4px 2px 0 rgba(0, 0, 0, 0.1),
              0 8px 4px 0 rgba(0, 0, 0, 0.15);
}

#features div.app {
  color: #fff;
  width: 56px;
  height: 56px;
  border-radius: 12px;
  opacity: 0.9;
  background: var(--blue-color);
  transform: rotate(0deg);
}

#features div.app:before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 12px;
  position: absolute;
  opacity: 0.7;
  background: var(--blue-color);
  transform: rotate(-10deg) translate(-25%, -25%)
}

#features div.app:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  border-radius: 12px;
  opacity: 0.5;
  background: var(--blue-color);
  transform: rotate(-20deg) translate(-50%, -50%)
}

#features div.scripts {
  background-color: black;
  margin-bottom: 16px;
  padding: 12px;
  width: 29px;
  height: 29px;
  text-transform: uppercase;
  text-align: left;
  border-radius: 12px;
  font-family: var(--monospace-font);
  font-size: 14px;
  color: var(--green-color);
  border-left: 2px solid var(--gray-color);
  border-top: 2px solid var(--gray-color);
  border-right: 2px solid var(--gray-color);
  border-bottom: 2px solid var(--gray-color);
}

#features div.keyboard-shortcut {
  margin-bottom: 16px;
  text-align: center;
  width: 72px;
  height: 48px;
  text-transform: uppercase;
  border-radius: 6px;
  font-family: var(--monospace-font);
  color: #fff;
  border: 1px solid var(--gray-color);
  background: linear-gradient(180deg,
    rgba(0,0,0,0.9) 0%,
    rgba(0,0,0,1) 100%);
  position: absolute;
}

#features div.keyboard-shortcut:after {
  content: '⌘';
  font-family: var(--monospace-font);
  font-size: 16px;
  font-weight: 900;
  position: absolute;
  right: 6px;
  top: 2px;
}

#features div.keyboard-shortcut:before {
  content: 'command';
  font-family: var(--monospace-font);
  font-size: 11px;
  position: absolute;
  left: 13px;
  bottom: 2px;
  text-transform: lowercase;
}

#features div.folder {
  background-color: #8ACEF7;
  text-align: center;
  width: 64px;
  height: 48px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 6px;
  font-family: var(--monospace-font);
  font-size: 26px;
  position: absolute;
}

#features div.folder:after {
  content: '';
  width: 64px;
  height: 4px;
  background-color: #2A73C0;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 3px 8px 0px 0px;
  background: linear-gradient(180deg,
    #5AA0D0 0%,
    #2A73C0 100%);
  border-bottom: 1px solid #8FCDF2;
}

#features div.folder:before {
  content: '';
  width: 24px;
  height: 6px;
  background-color: #5AA0D0;
  position: absolute;
  top: -6px;
  left: 0.5px;
  border-radius: 4px 8px 0px 0px;
  background: #5AA0D0;
  border: 1px solid #5AA0D0;
}

#features div.url-scheme {
  padding-top: 24px;
  display: block;
  text-transform: uppercase;
  text-align: center;
  border-radius: 8px;
  font-family: var(--monospace-font);
  font-size: 11px;
  font-weight: 800;
  background-color: #86D06D;
  color: #62AB34;
  border-left: 1px solid #62AB34;
  border-top: 1px solid #62AB34;
  border-right: 1px solid #62AB34;
  border-bottom: 1px solid #62AB34;
}

#features > section > div.hstack > div:first-child,
#features > section > div.hstack > div:last-child {
  padding-left: 0px;
}

#features > section > div.hstack > div > h4 {
  font-size: 14px;
}

#features > section > div.hstack > div > p {
  font-size: 13px;
}

#overview > section {
  display: flex;
  max-width: 700px;
}

#overview > div.content > section {
  border-radius: 8px;
  margin: 8px;
  padding: 32px;
}

#overview > div.content p {
  font-size: 48px;
}

#commands > section > div:first-child {
  display: flex;
  margin-left: -8px;
  margin-right: 64px;
}

#commands > section > div:first-child > * {
  margin: 8px;
  display: block;
}

#technical > section {
  color: #fff;
  font-size: 20;
}

#technical ul {
  padding: 64;
  margin: 0;
}

#technical ul > li {
  padding: 12 0;
}

#pricing > section {
  padding: 64px 0px;
  max-width: 650px;
  margin: 0px auto;
}
