#menu {
  background-color: var(--menu-background-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: -webkit-sticky;
  position: sticky;
  padding: 16;
  margin: 0 0;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid var(--menu-background-color);
}

#header {
  background-color: var(--content-background-color);
  margin: 0 0;
  border-bottom: 1px solid var(--content-background-color);
  padding: 16px 0px 48px 0px;
}

#quick-links-container {
  display: block;
  background-color: var(--menu-background-color);
  position: relative;
  padding: 36px 36px 36px 200px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.15),
              0 25px 24px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

#overview {
  max-width: 700px;
  margin: 64px auto;
}

#technical {
  background:#000;
  position: relative;
  width: 100%;
  min-height: 650px;
  padding-top: 64;
  padding-bottom: 64;
  margin-bottom: -8px;
  letter-spacing: 0.0em;
  line-height: 1.60em;
  font-family: "SFMono-Regular", "Menlo", "Monaco", "Consolas";
}

#pricing {
  margin: 0;
  min-height: 320px;
  background-color: var(--content-background-color);
  font-size: 20;
}

#app-icon {
  display: block;
  margin: 0px auto;
}

