:root {
  color-scheme: light dark;
  --background-color: #f5f5f5;
  --primary-color: #111111;
  --secondary-color: #555;
  --content-background-color: #fff;
  --menu-background-color: rgba(255, 255, 255, 0.9);
  --blue-color: #337BF6;
  --purple-color: #9A57A2;
  --pink-color: #E55D9C;
  --red-color: #EC5F5D;
  --orange-color: #E8873A;
  --yellow-color: #F6C744;
  --green-color: #78B756;
  --gray-color: #8C8C8C;
  --shadow-color: rgba(15, 15, 15, 0.3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #111;
    --primary-color: #eee;
    --secondary-color: #888;
    --content-background-color: #222;
    --menu-background-color: rgba(34, 34, 34, 0.6);
    --blue-color: #337BF6;
    --purple-color: #9A57A2;
    --pink-color: #E55D9C;
    --red-color: #EC5F5D;
    --orange-color: #E8873A;
    --yellow-color: #F6C744;
    --green-color: #78B756;
    --gray-color: #8C8C8C;
    --shadow-color: rgba(34, 34, 34, 0.6);
  }
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: -apple-system, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1,h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
  color: var(-apple-system-control-accent);
}

hr {
  height: 1px;
  border: 0;
  margin: 1 0;
}

p {
  padding: 0;
  margin: 8 0;
}

#menu {
  background-color: var(--menu-background-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: -webkit-sticky;
  position: sticky;
  padding: 16;
  margin: 0 0;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid var(--menu-background-color);
}

#menu a {
  margin: 0 8;
  text-decoration: none;
  color: var(--secondary-color);
}

#header {
  background-color: var(--content-background-color);
  color: #fff;
  background: black;
  margin: 0 0;
  padding: 0 0;
  border-bottom: 1px solid var(--content-background-color);
}

body > div {
  padding: 32 0;
}

div > .content {
  max-width: 650px;
  margin: 0px auto;
}

#header .quick-links {
  padding: 8px;
  padding-top: 16px;
}

#header hr {
  background-color: var(--gray-color);
  width: 25%
}

.quick-links > a {
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 4px 0;
}

.quick-links a.filled {
  background: var(--green-color);
  color: #fff;
}

.quick-links a.outlined {
  border: 1px solid var(--green-color);
  color: var(--green-color);
}

#overview {
  max-width: 700px;
  margin: 64px auto;
}

#overview > div.content {
  display: flex;
  max-width: 700px;
}

#overview > div.content > section {
  border-radius: 8px;
  margin: 8px;
  padding: 32px;
}

#overview > div.content p {
  font-size: 48px;
}

#technical {
  position: relative;
  width: 100%;
  min-height: 650px;
  padding-top: 64;
  padding-bottom: 64;
  margin-bottom: -8px;
  backdrop-filter: blur(32px) contrast(1.4);
  -webkit-backdrop-filter: blur(32px) contrast(1.4);
}

#technical > section {
  color: #fff;
  font-size: 20;
}

#technical ul {
  padding: 64;
  margin: 0;
}

#technical ul > li {
  padding: 12 0;
}

#technical-background {
  position: absolute;
  background-repeat: repeat-y;
  background-attachment: scroll;
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-image: url('../UnitTests/Sources/Views/__Snapshots__/MainViewTests/testSnapshotPreviews.macOS11-0-Dark.png');
  z-index: -1;
}

#groups .content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#groups .content div {
  width: 66%;
  margin-right: 32px;
}

#groups .content div:nth-child(1) {
  margin-left: -64px;
}

.tagline {
  padding: 32px;
  font-size: 36px;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: -1px;
  box-shadow: 0px 10px 35px 1px var(--shadow-color);
}

#workflows {
  background-color: var(--content-background-color)
}

#workflows .content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#keyboard_shortcuts .content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#keyboard_shortcuts .content div {
  width: 66%;
  margin-right: 32px;
}

#commands .content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#commands {
  background-color: var(--content-background-color)
}

#commands .content div {
  width: 50%;
  margin-right: -32px;
  margin-left: 64px;
}

#pricing {
  margin: 0;
  min-height: 320px;
  background-color: var(--content-background-color);
  font-size: 20;
}

#pricing > section {
  padding: 64px 0px;
  max-width: 650px;
  margin: 0px auto;
}

.foreground-white   { color: #fff; }
.foreground-blue   { color: var(--blue-color); }
.foreground-purple { color: var(--purple-color); }
.foreground-pink   { color: var(--pink-color); }
.foreground-red   { color: var(--red-color); }
.foreground-orange   { color: var(--orange-color); }
.foreground-yellow   { color: var(--yellow-color); }
.foreground-green   { color: var(--green-color); }
.foreground-gray   { color: var(--gray-color); }

.background-blue   { background-color: var(--blue-color); }
.background-purple { background-color: var(--purple-color); }
.background-pink   { background-color: var(--pink-color); }
.background-red   { background-color: var(--red-color); }
.background-orange   { background-color: var(--orange-color); }
.background-yellow   { background-color: var(--yellow-color); }
.background-green   { background-color: var(--green-color); }
.background-gray   { background-color: var(--gray-color); }

.secondary-foreground-color {
  color: var(--secondary-color);
}

.centered {
  text-align: center;
}

.blurred {
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.header-gradient1 {
  background: linear-gradient(135deg, rgba(240,156,132,1) 5%, rgba(67,60,197,0) 50%);
}

.header-gradient2 {
  background: linear-gradient(45deg, rgba(227,64,106,1) 5%, rgba(67,60,197,0) 50%);
}

.header-gradient3 {
  background: linear-gradient(225deg, rgba(82,172,247,1.0) 5%, rgba(67,60,197,0) 50%);
}

.header-gradient4 {
  background: linear-gradient(315deg, rgba(69,58,199,0.5) 5%, rgba(67,60,197,0) 50%);
  padding-bottom: 32px;
}

.content-gradient {
  background: linear-gradient(0deg,
    var(--background-color) 0%,
    var(--content-background-color) 100%);
}

.red-gradient {
  background: linear-gradient(135deg, rgba(236,95,93,1) 0%, rgba(201,67,65,1) 100%);
}

.orange-gradient {
  background: linear-gradient(135deg, rgba(232,135,58,1) 0%, rgba(168,80,11,1) 100%);
}

.yellow-gradient {
  background: linear-gradient(135deg, rgba(246,199,68,1) 0%, rgba(195,151,27,1) 100%);
}

.green-gradient {
  background: linear-gradient(135deg, rgba(120,183,86,1) 0%, rgba(70,128,39,1) 100%);
}
