<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>v4</string>
	<key>CFBundleIdentifier</key>
	<string>com.zenangst.v4</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>v4</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
  <string>4.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Needs permission to Apple Events in order to run Apple Scripts</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Needs permission to access Bluetooth peripheral information in order to execute contextual commands.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Needs permission to access Bluetooth peripheral information in order to execute contextual commands.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 zenangst. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSystemExtensionUsageDescription</key>
	<string>Needed for XPC</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>com.apple.security.automation.apple-events</key>
	<true/>
</dict>
</plist>
