body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: var(--regular-font);
  letter-spacing: -0.015em;
  line-height: 1.33em;
}

h1,h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
  color: var(-apple-system-control-accent);
}

h1 {
  font-size: 56px;
  letter-spacing: -0.5px;
  line-height: 60px;
  font-weight: 500;
}

h2 {
  margin-bottom: 16px;
  font-size: 50px;
  letter-spacing: 0px;
  line-height: 60px;
  font-weight: 400;
}

h3 {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  opacity: 50%;
}

hr {
  height: 1px;
  border: 1;
  margin: 1 0;
}

p {
  padding: 0;
  margin: 24 0;
}
