:root {
  color-scheme: light dark;
  --background-color: #f5f5f5;
  --primary-color: #444;
  --secondary-color: #555;
  --content-background-color: #fff;
  --menu-background-color: rgba(255, 255, 255, 0.9);
  --blue-color: #337BF6;
  --purple-color: #9A57A2;
  --pink-color: #E55D9C;
  --red-color: #EC5F5D;
  --orange-color: #E8873A;
  --yellow-color: #F6C744;
  --green-color: #78B756;
  --gray-color: #8C8C8C;
  --shadow-color: rgba(15, 15, 15, 0.3);
  --regular-font: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  --monospace-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #111;
    --primary-color: #eee;
    --secondary-color: #888;
    --content-background-color: #222;
    --menu-background-color: rgba(34, 34, 34, 0.6);
    --blue-color: #337BF6;
    --purple-color: #9A57A2;
    --pink-color: #E55D9C;
    --red-color: #EC5F5D;
    --orange-color: #E8873A;
    --yellow-color: #F6C744;
    --green-color: #78B756;
    --gray-color: #8C8C8C;
    --shadow-color: rgba(34, 34, 34, 0.6);
  }
}
